.PageNew__container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

 display: flex;
 justify-content: space-between;
}

.PageNew__badge {
  flex:  0 0 calc(60% - 30px);
  margin-right: 30px;
}

.PageNew__form {
  flex: 0 0 40%;
}