.Badge {
  width: 100%;
  margin: 16px auto;
  box-sizing: border-box;

  border: 1px solid #000;
  box-shadow: 0 2px 2px 0 #000;
}

.Badge__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.Badge__info-avatar {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.Badge__info-avatar img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  border-radius: 50%;
}

.Badge__info-name {
  text-align: center;
  font-size: 2rem;
}

.Badge__info-description {
  text-align: center;
  margin: 10px 0;
}

.Badge__info-description p {
  margin: 0;
}

.Badge__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
