.BadgeForm__container input:not([type="submit"]) {
  width: 100%;

  padding: 11px;

  border: none;
  box-shadow: 0 2px 0 0 #000;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.BadgeForm__container form > div {
  margin-bottom: 1.5rem;
}
